:root {
    --main-color: #3b5882;
}

* {
    font-family: "Cairo", sans-serif;
}

nav {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(82, 37, 55, 0.373) 0px 0px 1px 0px;
}

.logo {
    width: 170px;
}

.nav-item .nav-link {
    color: var(--main-color);
}

#home {
    height: calc(100vh - 90px);
    position: relative;
}

#home::before {
    content: "";
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #3A5785;
    transform: skewY(-6deg);
    -webkit-transform: skewY(-6deg);
    -moz-transform: skewY(-6deg);
    -ms-transform: skewY(-6deg);
    -o-transform: skewY(-6deg);
    transform-origin: top left;
}

.home-image {
    overflow: hidden;
    background: linear-gradient(#ffffff,#ffffff,#ffffff);
    border-radius: 50% 50% 50% 50% / 50% 50% 0% 0%;
    -webkit-border-radius: 50% 50% 50% 50% / 50% 50% 0% 0%;
    -moz-border-radius: 50% 50% 50% 50% / 50% 50% 0% 0%;
    -ms-border-radius: 50% 50% 50% 50% / 50% 50% 0% 0%;
    -o-border-radius: 50% 50% 50% 50% / 50% 50% 0% 0%;
}


.about-title {
    position: relative;
    width: fit-content;
    margin: auto;
    /* padding: 0; */
}

.about-title::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--main-color);
    left: 0;
    bottom: -20px;
}

.about-title::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--main-color);
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    bottom: -28px;
}

.about-text {
    line-height: 2;
    color: #5d5c5c;
    font-size: 18px;
    
}

.about-image {
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.about-image img {
    width: 80%;
    cursor: pointer;
    height: 450px;
}


.about-image:hover .overlay {
    transform: translateY(0%);
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.837);
    overflow: hidden;
    width: calc(80% - 19px);
    transform: translateY(100%);
    transition: transform 0.3s ease;
    color: var(--main-color);
    padding: 20px;
    margin: auto;
    height: 30%;
    cursor: pointer;
}

.overlay h2,
.overlay p {
    margin-bottom: 10px;
}